*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
cache_files/
.git/
../.idea/.gitignore
.vscode/
.idea/
*.swp
*.swo
Dockerfile
docker-compose.yml
.dockerignore
.DS_Store
Thumbs.db