<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load account %}
    {% load i18n %}

    <h1>Hello! Thank you for registering, {{ user.username }}!</h1>
    <h3>Please follow <a href="{{ activate_url }}">the link</a> to activate your account</h3>

    <div>
        <p>{% blocktranslate %}Your sign-in code is listed below. Please enter it in your open browser window.{% endblocktranslate %}</p>
        <div>
            {{ code }}
        </div>
        <p><small>{% blocktranslate %}This mail can be safely ignored if you did not initiate this action.{% endblocktranslate %}</small></p>
    </div>
</body>
</html>